@charset "UTF-8";
/* CSS Document */

.body {
	
}

p, td, li {
		
}

a, a:visited {
	color: #e17307;
}

a:hover, a:visited:hover {
	
}

img {
	border: none;	
}

h1 {
	margin: 0 0 5px;
}

h2 {
	margin: 0 0 5px;
}

h3 {
	margin: 0 0 5px;
}

/* ----------------------------------------------------------------------------- GENERAL ----------------- */
.clearer {
	clear: both;	
}



/* ----------------------------------------------------------------------------- INITIAL ----------------- */
.indexBg .ui-page {
	background: -moz-linear-gradient(top,  #ffa144 0%, #e07306 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  #ffa144 0%,#e07306 100%); /* Chrome10+,Safari5.1+ */
}

.initialWrapper {
	margin: -15px;
}

.initialWrapper a {
	text-decoration: none;	
	color: #fff !important;
	text-shadow: 1px 1px 0 #444;
}

.initialParent {
	padding: 25px 0;
	text-align: center;
	font-weight: bold;
}

.initialParent .initialIcon {
	height: 100px;
	margin: 0 auto 7px;	
}

.initialSitter {
	padding: 25px 0;
	text-align: center;	
	font-weight: bold;
}

.initialSitter .initialIcon {
	height: 100px;
	margin: 0 auto 7px;
}

.initialLogin {
	text-align: center;	
	padding: 15px 0 0;
	border-top: 1px dashed #fff;
}

.initialLogin a {
	color: #f6c594 !important;	
}




/* ----------------------------------------------------------------------------- LOGIN ----------------- */
.registerDiv .ui-checkbox-on .ui-icon, .registerDiv .ui-radio-on .ui-icon {
	background: #ffa144;	
}

.registerDiv .ui-submit {
	margin-top: 20px;	
	text-transform: uppercase;
	color: #fff !important;
	text-shadow: 1px 1px 0 #777;
	box-shadow: none;
	background: -moz-linear-gradient(top,  #cecece 0%, #afafaf 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  #cecece 0%,#afafaf 100%); /* Chrome10+,Safari5.1+ */
}

.registerDiv .ui-btn-down-c, .registerDiv .ui-btn-active {
	background: #afafaf;
}




/* ----------------------------------------------------------------------------- HEADER ----------------- */
.ui-header {
	height: 40px;
	padding: 0;
	border-top: none;
	border-bottom: 1px solid #b65b01;
	
	background: -moz-linear-gradient(top,  #ffa144 0%, #e07306 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  #ffa144 0%,#e07306 100%); /* Chrome10+,Safari5.1+ */
}

.headerLogo {
	height: 25px;
	position: absolute;
	left: 50%;
	top: 6px;
	margin-left: -55px;	
}

.ui-header .leftCol {
	width: 50%;
	float: left;	
}

.ui-header .rightCol {
	width: 50%;
	float: right;
	text-align: right;	
}

.btnHeader {
	display: inline-block;
	text-indent: -9999px;
	overflow: hidden;	
	height: 25px;
	line-height: 25px;
	min-width: 25px;
	text-align: left;
	margin: 6px 0 0;
}

#btnHeaderBack {
	text-indent: 0;
	color: #fff;
	text-shadow: none;
	margin-left: 15px;
}

#btnHeaderMessages {
	background: url(../images/iconMessages.png) 50% 50% no-repeat;
	width: 32px;
}

#btnHeaderProfile {
	background: url(../images/iconProfile.png) 50% 50% no-repeat;
	margin-left: 11px;
	margin-right: 15px;
}

.ui-header h1 {
	font-size: 12px;
	margin: 0;
	height: 40px;
	line-height: 40px;	
}



/* ----------------------------------------------------------------------------- PREVIEW LISTS ----------------- */
.previewList {
	list-style: none;
	margin: -15px;
	padding: 0;	
}

.previewList li {
	padding: 15px;
	border-bottom: 1px dashed #ddd;	
}

.previewList li:nth-child(even) {
	background: #efefef;	
}

.previewList li:last-child {
	border-bottom: none;	
}

.previewList a {
	text-decoration: none;	
}

.previewList .leftCol {
	width: 50%;
	float: left;
}

.previewList .rightCol {
	width: 50%;
	float: right;	
}

.previewList h1 {
	font-size: 18px;
	line-height: 20px;
	margin: 0;	
	color: #000;
}

.previewList h2 {
	font-size: 12px;
	line-height: 14px;
	margin: 0;	
	color: #999;
}

.previewRating {
	text-align: right;
	margin: 9px 0 0;
}

.previewRating .rateStar {
	height: 15px;	
}

a.btnGo {
	width: 25px;
	height: 25px;
	display: inline-block;
	background: #ddd;
	text-indent: -9999px;
	overflow: hidden;	
}

/* ----------------------------------------------------------------------------- PROFILE PAGE ----------------- */
.profileTop {
	background: #eaeaea;	
	padding: 15px;
	margin: 15px 0 0;
	line-height: 16px;
}

.profileTop p {
	font-size: 14px;
	margin: 0;	
}

.profilePic {
	width: 33%;
	border: 5px solid #fff;
	box-shadow: 0 0 3px #aaa;
	float: left;
	margin: -30px 15px 0 -15px;	
}

.profileTop h1 {
	font-size: 22px;
	line-height: 24px;
	margin: 0 0 5px;	
}

.profileTop h2 {
	font-size: 16px;
	line-height: 18px;
	color: #999;
	margin: 0;	
}

.profileTop a {
	text-decoration: none;	
}

.profileRating .rateStar {
	height: 15px;	
}

.profileTop .profileQuote {
	font-style: italic;
	color: #777;	
	margin: 19px 0 0;
	line-height: 18px;
}

.profileActions {
	margin: 0 0 15px;
	height: 35px;
	border-radius: 0 0 4px 4px;
	overflow: hidden;

	background: -moz-linear-gradient(top,  #2cb9e0 0%, #009bd8 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top,  #2cb9e0 0%,#009bd8 100%); /* Chrome10+,Safari5.1+ */
}

.profileActions ul {
	padding: 0;
	margin: 0;
	list-style: none;	
}

.profileActions li {
	width: 50%;
	float: left;
	height: 35px;	
	line-height: 35px;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px 0 #777;
}

.profileActions .profileAction {
	display: block;
	border-right: 1px solid #87d7ef;	
}

.profileActions a {
	color: #fff !important;
	text-decoration: none !important;	
}


.profileBio {
	line-height: 20px;	
}


.profileReviewToggle {
	display: inline-block;
	text-align: center;
	width: 50%;
	float: left;
	color: #e17307 !important;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	margin: 0 0 15px;
	padding: 0 0 7px;
}

.profileReviewToggleActive {
	color: #000 !important;	
	background: url(../images/downArrow.png) 50% 100% no-repeat;
}

.profileReviews {
	border-top: 1px solid #ddd;	
	padding: 15px 0;
	line-height: 20px;
	position: relative;
}

.profileReviews h2 {
	font-size: 20px;	
}

.profileReviewContent {
	padding: 30px 15px 15px;
	margin: 0 -15px;
	border-bottom: 1px dashed #ddd;	
}

.profileReviewContent:nth-child(odd) {
	background: #efefef;	
}

.profileReviewContent h3 {
	float: left;	
	font-size: 16px;
}

.profileReviewContent p {
	margin: 0 0 15px;	
}

.reviewRating {
	width: 125px;
	float: right;
	text-align: right;	
}

.reviewRating .rateStar {
	height: 15px;	
}


.profileReviewListing {
	position: relative;
	left: 0;	
	display: none;
}

.profileReviewForm {
	position: relative;
	left: 0;
	display: none;
}


.rateStarLabel {
	white-space: nowrap;	
}

.rateStarLabel .rateStar {
	height: 15px;	
}

.reviewCommentLabel {
	display: block !important;	
}

.reviewCommentInput {
	width: 100% !important;	
}